.button-login {
  background-color: #4CAF50;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 15px 32px;
  float: right;
  border: 1px solid #4CAF50;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button-login:hover {
  background-color: white;
  color: #4CAF50;
}
.button-logout {
  background-color: #f44336;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  float: right;
  border: 1px solid #f44336;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button-logout:hover {
  background-color: white;
  color: #f44336;
}

.auth-container {

}
